{% extends "projects/base.html" %}

{% block title %}{% if form_type == 'Edit' %}Edit Project{% else %}Create New Project{% endif %}{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>{% if form_type == 'Edit' %}Edit Project{% else %}Launch Your New Campaign{% endif %}</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="input-group">
                <label>{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="submit-btn">{% if form_type == 'Edit' %}Save Changes{% else %}Create Project{% endif %}</button>
    </form>
</div>
{% endblock %}