{% extends "projects/base.html" %}

{% block title %}{% if form_type == 'تعديل' %}تعديل المشروع{% else %}إنشاء مشروع جديد{% endif %}{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>{% if form_type == 'تعديل' %}تعديل المشروع{% else %}أطلق حملتك الجديدة{% endif %}</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="input-group">
                <label>{{ field.label }}</label>
                {{ field }}
            </div>
        {% endfor %}
        <button type="submit" class="submit-btn">{% if form_type == 'تعديل' %}حفظ التعديلات{% else %}أنشئ المشروع{% endif %}</button>
    </form>
</div>
{% endblock %}